body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

div {
    background-image: url(icon1x.png);
    background-image: -webkit-image-set(url(icon1x.png) 1x, url(icon2x.png) 2x);
    background-image: image-set(url(icon1x.png) 1x, url(icon2x.png) 2x);
    height: 128px;
    width: 128px;
}